<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <footer id="memberFooter">
      <div class="copy-container">
        <span>&copy;2024 WING_Company</span>
      </div>
      <div class="email-container">
        <span>email: wing_@gmail.com</span>
      </div>
      <div class="cs-container">
        <a href="#" class="cs">고객센터</a>
      </div>
    </footer>
  </body>
</html>
